html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@700&display=swap');

h2 {
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 64px;
	color: #222;

	span {
		background: linear-gradient(90deg, #52A2EC 0%, #53C0EC 31.2%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}

.btn-primary,
button.btn-primary {
	font-family: 'Plus Jakarta Sans';
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 32px;
	background: #000000;
	border-radius: 32px;
	color: #FFF;
	text-decoration: none;
	border: 2px solid #000;
	font-weight: bold;
	transition: all 0.3s ease;
	cursor: pointer;
	justify-content: center;
	min-width: 92px;

	&:hover,
	&:active {
		background: #FFF;
		color: #000000;
		border: 2px solid #000;
	}
}

.btn-secondary,
button.btn-secondary {
	font-family: 'Plus Jakarta Sans';
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px 32px;
	background: #fff;
	border-radius: 32px;
	color: #000;
	text-decoration: none;
	border: 2px solid #000;
	font-weight: bold;
	transition: all 0.3s ease;
	cursor: pointer;
	justify-content: center;
	min-width: 92px;

	&:hover,
	&:active {
		background: #000;
		color: #fff;
		border: 2px solid #fff;
	}
}

.js-tilt-scale,
.js-tilt {
	&:hover {
		transition-delay: 0s !important;
		transition-duration: 0s !important;
	}
}

.owl-carousel {
	.owl-nav {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 40%;
		margin: 0 16px;

		button.owl-prev,
		button.owl-next {
			font-size: 36px;
			width: 45px;
			background-color: #2222226e;
			color: #FFF;
			display: flex;
			border-radius: 100%;
			justify-content: center;

			&:hover {
				color: #222;
			}
		}
	}

	.owl-dots {
		display: flex;
		gap: 8px;
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: row;
		margin-top: 16px;
		transition: all 0.3s ease;

		button {
			width: 8px;
			height: 8px;
			background-color: #CCC;
			border-radius: 100%;
			transition: all 0.3s ease;

			&.active {
				background-color: #222;
				transform: scale(1.2);
			}
		}
	}
}

header {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 0 128px;
	background: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #000000;
	backdrop-filter: blur(8px);
	gap: 16px;
	z-index: 64;
	font-weight: bold;
	color: #222;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	box-sizing: border-box;

	.links {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: nowrap;
		gap: 48px;
		transition: all 0.3s ease;

		a:hover {
			text-decoration: underline;
		}
	}

	img {
		transition: all 0.3s ease;
	}

	a {
		text-decoration: none;
		color: #000;
	}
}

body {
	font-family: 'Plus Jakarta Sans';
}

.pipa {
	position: relative;
	bottom: -4px;
	left: 5%;
}

a {
	color: #000;
}

.main-content {
	background-image: url(../assets/bg-arrow-2.svg);
	background-repeat: no-repeat;
	background-position: center top 65px;

	.projects-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 16px;
		justify-content: center;
		max-width: 1330px;

		img {
			border-radius: 8px;
			object-fit: cover;
		}
	}

	.footer-contact {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;
		padding-bottom: 64px;
		width: 720px;
		margin: 0 auto;

		h2 {
			font-size: 32px;
		}

		.text {
			display: flex;
			gap: 64px;

			p {
				font-size: 16px;
				font-weight: 300;
			}

			.links {
				display: flex;
				gap: 16px;
			}

		}
	}
}

.projets {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	margin-bottom: 128px;
	color: #222;
	position: relative;
	background-color: #329AD7;
	padding: 64px 0;

	>* {
		position: relative;
	}

	h2 {
		font-size: 48px;
		color: #FFFFFF;
		text-shadow:
		3px 0 0 #329AD7,
		-3px 0 0 #329AD7,
		0 3px 0 #329AD7,
		0 -3px 0 #329AD7,
		3px 3px 0 #329AD7,
		-3px -3px 0 #329AD7,
		3px -3px 0 #329AD7,
		-3px 3px 0 #329AD7,
		0px 1px 5px rgba(0, 0, 0, 0.2);
	}

	&:before {

		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.1;
		background-image: url('../assets/pattern-2.png');
		background-repeat: repeat;
		background-blend-mode: soft-light;
		/*animation: moveBackground 30s infinite linear;*/
	}
}

.bg-stripes {
	mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjEwMCIgaGVpZ2h0PSIyMjc2IiB2aWV3Qm94PSIwIDAgMTAwIDIyNzYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGc+CiAgICA8cGF0aCBkPSJNMTAwIDI3LjVMNTAgMEwwIDI3LjVMLTEgMjI1MS41TDUwIDIyNzZMMTAwIDIyNDlWMjcuNVoiIGZpbGw9ImJsYWNrIi8+CiAgPC9nPgo8L3N2Zz4K);
	mask-size: auto 100%;
}

.wrapper,
.wrapper-projects {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 64px;
	align-items: stretch;


	.card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;

		background: #FFFFFF;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
		border-radius: 32px 8px;

		width: 320px;
		overflow: hidden;

		a {
			text-decoration: none;
			color: unset;
		}

		.img-show {
			background-size: contain;
			width: 320px;
			height: 180px;

			-webkit-transition: all .1s ease-in-out;
			-moz-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;

			&.nomade {
				background: url('../assets/nomade.png');
			}

			&.closeme {
				background: url('../assets/closeme/closeme.png');
			}

			&.the-wokies {
				background: url('../assets/the-wokies.png');
			}

			&.luna {
				background: url('../assets/luna.png');
			}

			&.tati {
				background: url('../assets/tati.png');
			}

			&.pawsome {
				background: url('../assets/pawsome/pawsome.png');
			}

			&.france-coquine {
				background: url('../assets/france-coquine.png');
			}

			&.étais-la-sauvin {
				background: url('../assets/etais-la-sauvin.png');
			}

			&.picwictoys {
				background: url('../assets/picwictoys.png');
			}

			&.blockchainyourip {
				background: url('../assets/blockchainyourip.png');
			}

			&.netflix {
				background: url('../assets/netflix.png');
			}

			&.petit-futé {
				background: url('../assets/petit-fute.png');
			}

			&.sliming-away {
				background: url('../assets/sliming-away.png');
			}

			&.robbergame {
				background: url('../assets/robbergame.png');
			}

			&.dis-le {
				background: url('../assets/dis-le/dis-le.png');
			}

			&.restitched {
				background: url('../assets/restitched.png');
			}

			&.sauveurs-de-saveurs {
				background: url('../assets/sauveurs-de-saveurs.png');
			}
		}

		&:hover {
			.img-show {
				&.nomade {
					background-image: url('../assets/nomade-2.png');
				}

				&.closeme {
					background-image: url('../assets/closeme/closeme-2.png');
				}

				&.luna {
					background-image: url('../assets/luna-2.png');
				}

				&.pawsome {
					background-image: url('../assets/pawsome/pawsome-2.png');
				}

				&.netflix {
					background: url('../assets/netflix-2.png');
				}

				&.blockchainyourip {
					background: url('../assets/blockchainyourip-2.png');
				}

				&.france-coquine {
					background: url('../assets/france-coquine-2.png');
				}

				&.the-wokies {
					background: url('../assets/the-wokies-2.png');
				}

				&.petit-futé {
					background: url('../assets/petit-fute-2.png');
				}

				&.sliming-away {
					background: url('../assets/sliming-away-2.png');
				}

				&.robbergame {
					background: url('../assets/robbergame-2.png');
				}

				&.dis-le {
					background: url('../assets/dis-le/dis-le-2.png');
				}

				&.restitched {
					background: url('../assets/restitched-2.png');
				}

				&.sauveurs-de-saveurs {
					background: url('../assets/sauveurs-de-saveurs-2.png');
				}
			}
		}

		.text {
			padding: 16px;
			display: flex;
			flex-direction: column;
			gap: 16px;

			.title {
				display: flex;
				align-items: center;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 8px;

				h3 {
					font-weight: 700;
					font-size: 24px;
				}
			}

			p {
				font-weight: 400;
				font-size: 16px;
				color: #333;
				margin-bottom: 0;
			}
		}
	}
}

.card.inactif {
	filter: opacity(0.75) grayscale(100%);
	transform-style: preserve-3d;

	.inactif-soon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		transform: translateZ(20px);

		>span {
			padding: 4px 12px;
			border-radius: 76px;
			background: #FFF;
		}
	}
}



.pastille {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 4px 12px;
	gap: 10px;
	border-radius: 76px;
	height: fit-content;
	width: fit-content;

	font-weight: 400;
	font-size: 12px;

	&.refonte {
		background: #EBFCE6;
	}

	&.ux-design {
		background: #E6FCFC;
	}

	&.ui-design {
		background: #F1E6FC;
	}

	&.développement-web {
		background: #FCF1E6;
	}

	&.jeu-vidéo {
		background: #FCE6E6;
	}
}

.wrapper-projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	width: 1100px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Livvic', sans-serif;
}

.presentation {
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
	color: #222;
	max-width: 1300px;
	margin: 0 auto 128px auto;
	padding: 0 92px;

	.text {
		width: 600px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: flex-start;
		gap: 24px;
		color: #222;
		flex: 1;

		.first {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: flex-start;
			gap: 16px;
		}

		h1 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			font-weight: 600;
			font-size: 48px;
			font-family: 'Livvic', sans-serif;
		}

		p {
			font-weight: 300;
			font-size: 18px;
		}

		.links {
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 16px;
			transition: all 0.3s ease;

			/*&:hover{
				color: #52A2EC;
			}*/
		}

		.btn-links {
			display: flex;
			align-items: center;
			flex-direction: row;
			flex-wrap: nowrap;
			gap: 16px;
		}
	}

	.img {
		flex: 1;
		display: flex;
		justify-content: center;

		img {
			max-width: 25vw;
			border-radius: 30px;
			filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2));
		}
	}
}

body.bg-pattern {
	position: relative;
	background-color: #F1FAFF;

	&:before {
		content: ' ';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0.15;
		background-image: url('../assets/SMPJ_BG_Party_White.png');
		background-repeat: repeat;
		background-blend-mode: soft-light;
		animation: moveBackgroundBody 60s infinite linear;
		filter: contrast(0);
		z-index: -1;
		pointer-events: none;
	}


}

@keyframes moveBackgroundBody {
	0% {
		background-position: 0px 0px;
	}

	100% {
		background-position: 500px 250px;
	}
}

.a-propos {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 64px;

	.wrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 0px;
		gap: 64px;
		width: 1000px;

		img {
			filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.2));
		}
	}

	padding-bottom: 128px;
}

.hide {
	display: none;
}

.confetti {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	position: absolute;
	z-index: 9999;
	pointer-events: none;
	transition: top 1s ease-out, left 1s ease-out, background-color 1s;
}

.header-img {
	width: 100%;
	margin-top: 100px;

	img {
		cursor: auto;
		width: 100%;
		max-height: 300px;
		object-fit: cover;
	}
}

b {
	font-weight: bold;
}

.main {
	/*min-height: 100vh;*/
	margin: 32px auto;
	max-width: 1100px;

	h1 {
		font-weight: 700;
		font-size: 48px;
	}

	.title {
		display: flex;
		align-items: center;
		gap: 8px;
		flex-wrap: wrap;
	}

	h2 {
		font-size: 24px;
	}

	a,
	a.visited {
		color: #52A2EC;
	}

	img.responsive {
		width: 100%;
		height: auto;

		&.mobile {
			width: 25%;
			display: flex;
			margin: 30px auto;
		}
	}

	img:not(.no-fancybox) {
		cursor: pointer;
	}

	p {
		line-height: 24px;
		margin-bottom: 0;

		&:not(.no-space) {
			margin-bottom: 16px;
		}

		&.space-8 {
			margin-bottom: 8px;
		}

		a,
		a:visited {
			color: #000;
		}
	}

	.flex-center {
		align-items: center;
	}

	li {
		margin-left: 32px;

		&:last-child {
			margin-bottom: 16px;
		}
	}

	.btn-filter {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		gap: 16px;
		margin-bottom: 32px;

		button {
			font-size: 16px;
		}
	}

	.m-t-3 {
		margin-top: 64px !important;
	}

	.m-t-2 {
		margin-top: 32px !important;
	}

	.m-t-1 {
		margin-top: 16px !important;
	}

	.m-t-0 {
		margin-top: 0 !important;
	}

	.m-b-3 {
		margin-bottom: 64px !important;
	}

	.m-b-2 {
		margin-bottom: 32px !important;
	}

	.m-b-1 {
		margin-bottom: 16px !important;
	}

	.m-b-0 {
		margin-bottom: 0 !important;
	}

	.flex-disposition {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		gap: 16px;

		img {
			width: 31%;
			//padding: 10px;
			box-sizing: border-box;
			object-fit: contain;
			transition: all 0.3s ease;

			//box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
			//border-radius: 8px;

			&:hover {
				transform: scale(1.1);
				filter: brightness(0.8);
				border-radius: 8px;
			}
		}
	}

	.flex {
		display: flex;
		flex-direction: row;
	}

	.gap-1 {
		gap: 4px;
	}

	.gap-2 {
		gap: 8px;
	}

	.gap-3 {
		gap: 16px;
	}


	&.project {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		gap: 16px;
	}

	.article {
		padding: 24px;
		background: #FFFFFF;
		border-radius: 24px;
	}

	.aside {
		min-width: min(30%, 300px);
		width: 300px;

		>.content {
			display: flex;
			flex-direction: column;
			gap: 8px;
			position: sticky;
			height: auto;
			top: 124px;
			padding: 16px;
			background: #FFFFFF;
			border-radius: 16px;

			a {
				color: #000;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.overview {
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 16px;
		box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
		border-radius: 8px;
		background-color: #d2f0ff;
		position: relative;

		>h2,
		>p {
			position: relative;
		}

		>h2 {
			color: #FFFFFF;
			text-shadow:
			3px 0 0 #329AD7,
			-3px 0 0 #329AD7,
			0 3px 0 #329AD7,
			0 -3px 0 #329AD7,
			3px 3px 0 #329AD7,
			-3px -3px 0 #329AD7,
			3px -3px 0 #329AD7,
			-3px 3px 0 #329AD7;
		}

		&:before {
			content: ' ';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0.3;
			background-image: url('../assets/pattern-2.png');
			background-repeat: repeat;
			background-blend-mode: soft-light;
			animation: moveBackground 30s infinite linear;
		}
	}

	@keyframes moveBackground {
		0% {
			background-position: 0px 0px;
		}

		100% {
			background-position: 500px 250px;
		}
	}

	.citation {
		display: flex;
		flex-direction: row;
		gap: 16px;
		align-items: center;

		img {
			border-radius: 100%;
			width: 92px;
			height: 92px;
		}

		>div {
			display: flex;
			flex-direction: column;
			gap: 4px;

			blockquote {
				color: #333333;
				line-height: 24px;
				font-style: italic;
			}
		}
	}

	.people-group {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;

		img {
			position: relative;
			height: 32px;
			width: 32px;
			border-radius: 100%;

			&:not(:first-child) {
				margin-left: -12px;
			}


		}
	}
}

.img-responsive {
	width: 100%;
	height: auto;
}

.shadow {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

footer {
	height: auto;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-evenly;
	border-top: 1px solid #000;
	padding: 32px;
	gap: 64px;
	backdrop-filter: blur(8px);
	background: rgba(255, 255, 255, 0.5);

	.links {
		display: flex;
		gap: 64px;
		align-items: flex-start;
		justify-content: center;

		ul {
			li {
				font-weight: 400;
				font-size: 18px;
				list-style: none;
				margin-bottom: 12px;

				a {
					text-decoration: none;
					color: #222;
					transition: all 0.3s ease;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			li:first-child {
				font-weight: 600;
				font-size: 24px;
				margin-bottom: 16px;
			}
		}
	}

	#copyright span {
		font-weight: bold;
	}
}

.retour a {
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;

	&:hover {
		span {
			text-decoration: underline;
		}
	}

	span {
		color: #222;
	}
}

@media screen and (max-width: 1150px) {
	.main {
		margin: 32px 16px;
		max-width: 100%;

		.btn-filter {
			flex-wrap: wrap;
		}

		.wrapper-projects {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		img.responsive {

			&.mobile {
				width: 100%;
			}
		}

		.flex-disposition {
			gap: 16px;

			img {
				width: 100%;
			}
		}
	}

	footer {
		gap: 32px;
	}

	.presentation {
		padding: 64px 32px;
		margin-bottom: 0;
		flex-direction: column;
		background-image: none;

		.text {
			width: 100%;
			flex: unset;
			margin-top: 32px;
		}

		.img {
			flex: unset;

			img {
				max-width: 100%;
				width: 100%;
			}
		}
	}

	.main-content {
		.projets {
			padding: 64px 32px;

			.wrapper {
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: center;
			}
		}

		.footer-contact {
			width: 100%;
			padding-bottom: 32px;

			h2 {
				font-size: 48px;
			}

			.text {
				gap: 32px;
				flex-direction: column;

				.links {
					justify-content: center;
					flex-wrap: wrap;
				}
			}
		}
	}

	.a-propos {
		padding-bottom: 64px;

		.wrapper {
			width: 100%;
			margin: 0;
		}
	}
}

.main&.projects {
	margin-top: 128px;
}

h1 {
	.stroke-text {
		color: #FFFFFF;
		font-size: 36px;
		text-shadow:
		0px 2px 5px rgba(0, 0, 0, 0.2),
		/* Ombre floue */
		3px 0 0 #333,
		-3px 0 0 #333,
		0 3px 0 #333,
		0 -3px 0 #333,
		3px 3px 0 #333,
		-3px -3px 0 #333,
		3px -3px 0 #333,
		-3px 3px 0 #333;
		/* Ombre de contour */
	}


	.gradiant {
		font-size: 64px;
		font-weight: bold;
		background: linear-gradient(to right,
			#B16CEA 0%,
			#FF5E69 60%,
			#FF8A56 80%,
			#FFA84B 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

@media screen and (max-width: 720px) {
	header {
		padding: 0 32px;
		transition: all 0.3s ease;

		.links {
			display: none;
		}

		&.scrolled {
			height: 60px;

			.logo {
				transition: all 0.3s ease;

				img {
					transform: scale(0.5);
					transition: all 0.3s ease;
				}
			}
		}
	}

	.mobile-header {
		top: 100px;
		position: fixed;
		display: flex;
		flex-direction: column;
		gap: 16px;
		padding: 16px;
		background-color: #FFF;
		border-bottom: 1px solid #000;
		align-items: center;
		z-index: 64;
		width: 100%;

		a {
			text-decoration: none;
			color: #222;
			font-weight: bold;
		}
	}

	.presentation {
		gap: 64px;
		padding-top: 100px;
		margin-bottom: 64px;
	}

	.main .people-group {
		flex-wrap: wrap;
	}

	.main .people-group img:first-child {
		margin-left: -12px;
	}

	.wrapper-projects {
		.card {
			width: 100%;

			.img-show {
				width: 100%;
				height: auto;
				aspect-ratio: 16/9;
				background-size: cover !important;
			}
		}
	}

	.main {
		.aside {
			display: none;
		}
	}

	.a-propos {
		.wrapper {
			flex-direction: column-reverse;
		}
	}
}

@media screen and (max-width: 440px) {

	.btn-primary,
	.btn-secondary {
		width: -webkit-fill-available;
		justify-content: center;
	}

	.main {
		.btn-filter {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
		}
	}

	h2 {
		font-size: 48px;
	}

	.presentation {
		.text {
			h1 {
				text-align: center;

				span {
					text-align: center;
					width: 100%;
					font-size: 48px;
				}
			}

			p {
				text-align: center;
				font-size: 18px;
			}

			.links {
				width: 100%;
				justify-content: center;
			}

			.btn-links {
				flex-direction: column-reverse;
				align-items: center;
				width: 100%;
			}
		}
	}

	.projets {
		margin-bottom: 64px;
	}

	.a-propos {
		gap: 32px;

		.wrapper {
			img {
				width: 100%;
			}
		}
	}

	.wrapper {
		width: 100%;

		.card {
			width: 100%;

			.img-show {
				width: 100%;
				aspect-ratio: 16/9;
				height: auto;
				background-size: contain !important;
			}
		}
	}
}